body{
    background-image: url(./shara\ desert\ \(1\).jpg);
    overflow-y: hidden;
}  

.logo{
    width: 60px;
    position: relative;
    top: 50px;
    left: 60px;
}

.sahara{
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 180px;
    color: white;
}

b{
    font-size: 65px;
}

button{
    border: 1px hidden white;
    border-radius: 12px;
    width: 9vw;
    padding: 0.5rem;
    font-size: 12px;
    font-weight: bold;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    position: absolute;
    left: 820px;
    top: 50px;
    color: white;
    font-size: 27px;
    font-weight: bold;
}

.bar{
    margin: 25px;
}

.block{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    gap: 2rem;
    margin-top: 80px;
    position: relative;

}


.one{

    height: 200px;
    width: 200px;
    margin: 15px;
    border: 1px hidden;
    border-radius: 20px;
}

.ones{
    color: white;
     font-weight: bold;
    position: absolute;
    top: 20px;
    left: 25px;

}



.twos{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 25px;

}

.threes{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 285px;

}

.fours{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 285px;

}


.box{
    transition: all 0.3s linear 0s;
}

.box:hover{
    transform: translateY(-10px)
}

@media (min-width: 856px) and (max-width: 1000px){
      
       body{
           overflow-y: visible;
       }
       .box:hover{
           transform: translateY(0px);
       }
      


    .nav{
        display: flex;
        position: absolute;
        left: 350px;
    }
    
    .sahara{
        top:150px;

    }

   

    .block{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 200px;
        right: 350px;
        width: 300px;
    }

   .one{
       width: 400px;
       
   }
   
   .threes{
       position: absolute;
       top: 500px;
   }
   
   .fours{
       position: absolute;
       top: 750px;
   }

   br{
    display: none;
}
   
}




